@model RCPatients.Models.PatientTreatment

@{
    ViewData["Title"] = "Details of a treatment for " + ViewData["diagnosisName"] + ", Patient: " + ViewData["LName"] + ", " + ViewData["FName"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>PatientTreatment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatePrescribed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatePrescribed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd class="col-sm-10">
            <textarea class="form-control" rows="3" cols="30" disabled>@Html.DisplayNameFor(model => model.Comments)</textarea>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientDiagnosis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientDiagnosis.PatientDiagnosisId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Treatment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Treatment.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PatientTreatmentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
